.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #252627;
}
.main {
  background-color: black;
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  background: #181818;
  min-width: 60px;
  font-family: Russo One, sans-serif;
  z-index: 3;
  position: fixed;
}
